/* default settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.x-a, .x-a:visited, .x-a:hover, .x-a:active {
    color: inherit;
    text-decoration: none;
}

pre, code {
    font-size: 0.85em !important;
    border-radius: 5px;
    padding: 0 !important;
    background-color: #fff !important;
}

/* container and components */
.x-container {
    inline-size: 100%;
    display: grid;
    grid-template-columns: 20% auto;
}

.x-floating-container {
    margin: 0 auto;
}

/* colors and backgrounds */
.bg-orange {
    background-color: #e3734b!important;
}

.text-orange {
    color: #e3734b!important;
}

/* padding and spaces */
.p-15 {
    padding: 15px;
}

.p-30 {
    padding: 30px;
}
